<style type="text/css">

  .header {
    background: #161824;
    height: 150px;
  }

  .bed-container {
    background-color: #161824;
  }

  .bed {
    border: 6px #ffffff;
    margin: 40px;
    padding: 40px;
  }

</style>

<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <br>
      <br>

      <h3 class="text-center">Hospital Beds On-The-Go</h3>
    </div>
  </div>
</div>

<div class="container" ng-controller="MainController">

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="bed in beds">

      <div class="bed-container" ng-click="showBedDetailModal(bed.$id)" style="cursor: pointer;">
        <div class="bed">

          <div class="text-center">
            <span style="font-size: 24px">ID: <strong>{{bed.label}}</strong></span>
          </div>
          <br>
          <br>
          <img src="/images/bed.png" class="img img-responsive" ng-if="bed.skinTemperature && bed.heartRate">
          <img src="/images/line.png" class="img img-responsive" ng-if="!bed.skinTemperature || !bed.heartRate">
          <br>
          <br>
          <p>
            <img src="/images/heart.png" width="24">
            <span style="font-size: 18px;">&nbsp;<strong>{{bed.heartRate}}</strong> bpm</span>
          </p>

          <p>
            <img src="/images/temperature.png" width="24">
            <span style="font-size: 18px;">&nbsp;<strong>{{bed.skinTemperature}}</strong> °C</span>
          </p>

        </div>
      </div>

    </div>
  </div>
</div>