<style type="text/css">

.header {
    background: #161824;
    height: 150px;
}


.bed-container {
	background-color: #161824;
}

.bed {
	border: 6px #ffffff;
	margin: 40px;
	padding: 40px;
}

</style>

<div class="container-fluid">
	<div class="row header">
		<div class="col-xs-12">
			<br>
			<br>

			<h3 class="text-center">Hospital Beds On-The-Go</h3>
		</div>
	</div>
</div>

<div class="container" ng-controller="MainController">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="bed in beds">

		<div class="bed-container">
			<div class="bed">

			<span>ID:{{bed.id}}ABC</span>
	<br>
	<br>
	    		<img src="/images/bed.png" class="img img-responsive" ng-if="bed.skinTemperature && bed.heartRate">
	    		<img src="/images/line.png" class="img img-responsive" ng-if="!bed.skinTemperature || !bed.heartRate">
	<br>
	<br>
				<p>
					<span><img src="/images/heart.png" width="30px"></span>
					<span>{{bed.heartRate}}bpm</span>
				</p>

				<p>
					<span><img src="/images/temperature.png" width="30px"></span>
					<span>{{bed.skinTemperature}}°C</span>
				</p>

			</div>
		</div>
    </div>
  </div>
</div>