<div class="bed-detail-modal-container">

  <div class="modal-header">
    <h3 class="modal-title">Hospital Bed #{{bed.label}}</h3>
  </div>

  <div class="modal-body">

    <div class="row">

      <div class="col-xs-7">

        <table class="table table-condensed table-responsive">
          <tr>
            <th class="col-xs-4">Time</th>
            <th class="col-xs-4">Skin Temperature</th>
            <th class="col-xs-4">Heart rate</th>
          </tr>
          <tr ng-repeat="frame in bed.frames | orderBy: '-time' | limitTo: 20">
            <td>{{frame.time | date: 'medium'}}</td>
            <td>{{frame.skinTemperature}}</td>
            <td>{{frame.heartRate}}</td>
          </tr>
        </table>

      </div>

      <div class="col-xs-5">
        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{bed.latitude}},{{bed.longitude}}&zoom=14&size=600x1200&maptype=terrain&markers=color:red%7C{{bed.latitude}},{{bed.longitude}}&key=AIzaSyCKMwjSZ5Le1Ger5CPg_ioT5XmT6VaYlxs" class="img-responsive">
      </div>
    </div>
  </div>

</div>